.welcome {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

::placeholder {
  color: black;
}

/* ##################################### HOME ##################################### */
.homeDiv {
  background: url(../images/background.gif) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100vh;
}

/* ##################################### CREATE TRIP ##################################### */
.createTrip {
  display: flex;
  padding-top: 40px; }
  .createTrip .planTrip {
    border: 1px solid black;
    max-height: 500px;
    overflow: scroll;
    width: 30%;
  }
  .createTrip .worldMap {
    width: 70%; }

/* ##################################### PLAN TRIP ##################################### */

.planTripForm div {
  display: flex;
  flex-direction: column;
}

.planTripForm .planTripCalendar {
  margin-top: 40px; }

.planTripHeaders {
  text-align: center; }

.planTripInputs {
  padding: 10px;
}

.planTripAddBtn {
  margin: 10px;
}

.planTripAdd {
  display: flex;
}

.planTripAddP {
  margin-left: 10px;
}

.planTripSelectButton {
  margin: 10px;
}

.tripInputDiv {
  display: flex;
}

.tripInputDeleteButton {
  max-height: 30px;
}
/* ##################################### NAV BAR ##################################### */

.nav-wrapper {
  background-color: lightgreen;
}

/* ##################################### LOGIN ##################################### */
.loginPage {
  background: url(../images/login.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100vh;
}

.loginDiv {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

.loginDiv h3 {
  text-align: center;
}

.loginButton {
  text-align: center;
}

.validate {
  min-width: 300px;
}

/* ##################################### REGISTER ##################################### */
.registerPage {
  background: url(../images/login.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100vh;
}

.signUpHeader {
  text-align: center;
  padding: 0;
}

.registerForm {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

.registerSubmitButton {
  text-align: center;
}

/* ##################################### TRIP MODAL ##################################### */

.modalCalendar {
  display: flex;
  margin: 0 auto;
}

.modalSubmitBtn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.modalTripHeader {
  text-align: center;
}

.modalCloseBtn {
  float: right;
}

.modalCalendarDivs h2{
  text-align: center;
}

/* ##################################### ADD TRIP MODAL ##################################### */

.addTripModalActionButtons {
  display: flex;
  justify-content: center;
}

.addTripModalActionButtons button {
  margin: 10px;
}

.addTripModalButton {
  margin: 10px;
}

.card  {
  background-color: pink;
  width: 20rem;
  margin-left: 1rem;

}

.trips-profile {
  margin-left: 4rem;
}

.profile {
  background: url(../images/sky.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100vh;
}
