.welcome {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

/* ##################################### HOME ##################################### */
.homeDiv {
  background: url(../images/background.gif) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100vh;
}

/* ##################################### CREATE TRIP ##################################### */
.createTrip {
  display: flex;
  padding-top: 40px; }
  .createTrip .planTrip {
    border: 1px solid black;
    max-height: 500px;
    overflow: scroll;
    width: 30%;
  }
  .createTrip .worldMap {
    width: 70%; }

/* ##################################### PLAN TRIP ##################################### */

.planTripForm div {
  display: flex;
  flex-direction: column;
}

.planTripForm .planTripCalendar {
  margin-top: 40px; }

.planTripHeaders {
  text-align: center; }

/* ##################################### NAV BAR ##################################### */

.nav-wrapper {
  background-color: lightgreen; }

/* ##################################### MODAL ##################################### */

.modalCalendar {
  display: flex;
  margin: 0 auto;
}

.modalSubmitBtn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.modalTripHeader {
  text-align: center;
}

.modalCloseBtn {
  float: right;
}

.modalCalendarDivs h2{
  text-align: center;
}
